<!DOCTYPE html>
<html>
<body>

<h2>Profile</h2>

<button type="button" onclick="loadUsername()">Update username</button>

<p id="username"></p>


<script src="/auth/client.js"></script>

<script>
function setUsernameValue(requestResult) {
  if (requestResult.status == 200) {
    personalInfo = JSON.parse(requestResult.responseText);
    document.getElementById("username").innerHTML = personalInfo.name;
  }
  else {
    document.getElementById("username").innerHTML = "error: "+requestResult.status
  }
}

function loadUsername() {
  authClient.call(setUsernameValue).after('GET', '/api/v1/me');
}
</script>

</body>
</html>
