<!DOCTYPE html>
<html>
<head> 
  {% assets "error_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %} 
  {% assets "error_js" %}
    <script src="{{ ASSET_URL }}"></script>
  {% endassets %} 
</head>
<body>

<h2>Profile</h2>

<button type="button" onclick="loadUsername()">Update username</button>

<p id="username"></p>


<script src="/auth/client.js"></script>

<script>
function setUsernameValue(requestResult) {
  if (requestResult.status == 200) {
    personalInfo = JSON.parse(requestResult.responseText);
    document.getElementById("username").innerHTML = personalInfo.name;
  }
  else {
    errorMessage = "API request returned error "+requestResult.status;
    showError({'message': errorMessage});
  }
}

function loadUsername() {
  try {
    authClient.call(setUsernameValue).after('GET', '/api/v1/me');
  }
  catch (error) {
    showError(error);
  }
}
</script>

</body>
</html>
