<!DOCTYPE html>
<html>
<body>

<h2>Profile</h2>

<button type="button" onclick="loadUsername()">Update username</button>

<p id="username"></p>


<script src="/reddit/client.js"></script>
<script>
redditClient = new RedditClient();

function setUsernameValue(returnedRedditData) {
  personalInfo = JSON.parse(returnedRedditData.responseText);
  document.getElementById("username").innerHTML = personalInfo.username;
}

updateUsername = new redditClient.call(setUsernameValue);

function loadUsername() {
  updateUsername.after('GET', '/api/v1/me');
}
</script>

</body>
</html>
