export APP_SETTINGS="app_config.Production"

export APP_ID="reddit_app_id"
export APP_URL="https://aoiy.eu/rwh/auth/login"
export APP_VERSION=$(git log | head -n1)

export DB_HOST="db_host"
export DB_NAME="db_name"
export DB_USER="db_user"
export DB_PASS="db_password"

export SESSION_KEY="secret_key_1"
export COOKIES_KEY="secret_key_2"
export SESSION_DURATION=5 # minutes

export GUNICORN_LOGS="log"
export GUNICORN_PID="gunicorn.pid"
export GUNICORN_CONF="gunicorn.conf"

export RWH_DATA="data"
